*{
    margin: 0 0;
}
:root{
    background-color: rgb(53, 53, 53);
    width: 100%;
    height: 100%;
    color: azure;
}
.logo-container{
    display: flex;
    align-self: center;
    justify-self: center;
}
.logo{

    align-self: flex-start;
    height: 100px;
}

.formulario{
    display: flex;
    justify-content: center;
    align-content: center;
}
.formulario form{
    background-color: rgb(94, 93, 93);
    width: 60%;
    height: 375px;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    box-shadow: 5px 5px 10px rgb(66, 65, 65) ;
}
.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.input-group{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;
}
.form-group input{
    width: 250px;
    padding: 5px 10px;
    border-radius: 10px;
    border-width: 0;
    box-shadow: rgb(158, 24, 24);
    
}
form button{
    appearance: button;
    backface-visibility: hidden;
    padding: 0;
    margin-top: 10px;
    width: 150px;
    background-color: rgb(31, 126, 234);
    text-align: center;
    border-width: 0;
    border-radius: 10px;
    text-transform: none;
    text-decoration: none;
    padding: 5px;
    box-shadow: rgba(124, 212, 253, 1) 0px 0px 15px -3px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}
form button:hover{
    background-color: #0056b3; 
    transform: scale(1.05); 
}
form button a{
    text-decoration: none;
    color: inherit;
}