.user-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #575757;
}

.logo-container {
  width: 20%;
}

.logo {
  width: 100%;
  height: auto;
}

.user-info {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.user-info span {
  margin-right: 10px;
  font-size: large;
}
.user-info button{
  width: 75px;
  height: 50px;
}
.user-info button img{
  width: 50%;
}
button{
  cursor: pointer;
}
.dashboard-content {
  display: flex;
  flex: 1;
}

.dashboard-aside {
  width: 200px;
  background-color: #333;
}
.dashboard-aside a{
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #f43232;
  list-style: none;
  font-size: x-large ;
  width: 100%;
  padding: 5 0px;
  transition: 500ms;
}
.dashboard-aside a:hover{
background-color: aqua;
}

.dashboard-aside ul {
  list-style-type: none;
  padding: 0;
}

.dashboard-aside li {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px 15px;
  display: flex;
  justify-content: flex-start;
  transition: 0.5s;
}
.dashboard-aside li:hover{
  background: #ddd;
}
.dashboard-aside i {

  font-style: normal;
  margin-right: 10px;
  
}

.dashboard-main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.case-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.case-card {
  color: #2b2b2b;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  background-color: #dadada;
}

.case-card.private {
  border-left: 5px solid #ff4d4d;
}

.case-card.public {
  border-left: 5px solid #4dff4d;
}

.case-card h3 {
  margin-top: 0;
}
.case-card p{
  text-align: left;
  margin-left: 0;
}
.noCases{
  width: 100%;
  background-color:rgb(116, 116, 115);
  opacity:40%;
  border-radius: 5px;
  height: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}