.user-dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #575757;
}

.logo-container {
  width: 20%;
}

.logo {
  width: 100%;
  height: auto;
}

.user-info {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
}

.user-info span {
  margin-right: 10px;
  font-size: large;
}
.user-info button{
  width: 75px;
  height: 50px;
}
.user-info button img{
  width: 50%;
}
button{
  cursor: pointer;
}
.dashboard-content {
  display: flex;
  flex: 1;
}

.dashboard-aside {
  width: 200px;
  background-color: #333;
}
.dashboard-aside .module{
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #f43232;
  list-style: none;
  font-size: x-large ;
  width: 100%;
  padding: 5 0px;
  transition: 500ms;
}
.dashboard-aside .module:hover{
background-color: rgb(0, 115, 255);
}


.dashboard-main {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}
.dashboard-main h2{
  margin: 10px 0;
}

.case-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.case-card {
  color: #2b2b2b;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 15px;
  background-color: #dadada;
  cursor: pointer;
}
.case-card h3 {
  margin-top: 0;
}
.case-card p{
  text-align: left;
  margin-left: 0;
}
.noCases{
  width: 100%;
  background-color:rgb(116, 116, 115);
  opacity:40%;
  border-radius: 5px;
  height: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.case-form {
  background-color: rgb(156, 155, 155);
  color: rgb(23, 23, 23);
  padding: 2rem;
  border-radius: 4px;
  width: 150vh;
  height: 80vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column ;
  font-size: 20px;
}
.case-form form{
  margin: 0 auto;
  background-color: inherit;
  width: 70%;
}
.form-group {
  margin-bottom: 1rem;
}
.case-form form h4{
  font-weight: 700;
}
.form-group label {
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
  background-color: none;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: inset ;
}

.defendant-form {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.add-defendant-btn,
.submit-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1rem;
}

.close-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
