.personal-module {
    position: relative;
    min-height: 100vh;
  }
  
  .module-title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .personal-grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  
  .personal-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 15px;
    cursor: pointer;
    background-color: rgb(105, 105, 105);
    box-shadow: 0 0 10px rgba(138, 133, 133, 0.5);
  }
  
  .personal-card h3 {
    margin-top: 0;
  }
  
  .add-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: rgb(153, 152, 152);
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .modal-content h3 {
    margin-top: 0;
    color: rgb(236, 234, 234);
  }
  
  .modal-content form {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 20px;
  }
  
  .modal-content input,
  .modal-content select {
    margin-bottom: 10px;
    padding: 5px;
  }
  #document{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 2rem;
  }
  #registro-modal{
    background-color: #868686;
    box-shadow: 21px 33px 98px -28px rgba(188,188,194,1);
  }
  #delete-button{
    background-color:crimson;
    border-style: none;
    box-shadow: none;
    border-radius: 3px;
    color: azure;
  }